@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,500;1,400;1,500&display=swap');


.body{
   
    background-color: rgb(187, 235, 248);
}
    .text {
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
    }
